# Homework 32
Safarova Gulrukhsor

In [10]:
import pandas as pd
import plotly
import plotly.express as px
import sqlite3

# Домашнее задание №32
исполнитель: Сафарова Гулрухсор

1) На основе данных из таблицы track создайте столбчатую диаграмму, показывающую общую сумму минут (длительность треков) в разбивке по жанрам.
2) На основе данных из таблицы track создайте диаграмму рассеивания, показывающую соотношение минут и мегабайтов.
3) На основе данных из таблицы invoice создайте коробчатую диаграмму, показывающую распределение дохода (поле total) в разбивке по странам.
4) На основе данных из таблицы invoice создайте линейчатую диаграмму, показывающую изменение дохода по месяцам за 2025 год.
5) На основе данных из таблицы invoice, создайте круговую диаграмму, показывающую соотношение продаж в США и в остальном мире. Т.е. ваша круговая диаграмма должна состоять лишь из двух секций: США и остальной мир.

In [11]:
conn = sqlite3.connect('database.sqlite')

query1 = """
SELECT g.Name AS Genre, SUM(t.Milliseconds) / 60000 AS TotalMinutes
FROM track t
JOIN genre g ON t.GenreId = g.GenreId
GROUP BY g.Name
ORDER BY TotalMinutes DESC
"""
df1 = pd.read_sql(query1, conn)
fig1 = px.bar(df1, x='Genre', y='TotalMinutes', title='Общая сумма минут по жанрам')
fig1.show()

query2 = """
SELECT Milliseconds / 60000 AS Minutes, Bytes / (1024 * 1024) AS Megabytes
FROM track
"""
df2 = pd.read_sql(query2, conn)
fig2 = px.scatter(df2, x='Minutes', y='Megabytes', title='Соотношение минут и мегабайтов')
fig2.show()

query3 = """
SELECT BillingCountry, Total
FROM invoice
"""
df3 = pd.read_sql(query3, conn)
fig3 = px.box(df3, x='BillingCountry', y='Total', title='Распределение дохода по странам')
fig3.show()

query4 = """
SELECT strftime('%Y-%m', InvoiceDate) AS Month, SUM(Total) AS Revenue
FROM invoice
WHERE strftime('%Y', InvoiceDate) = '2025'
GROUP BY Month
ORDER BY Month
"""
df4 = pd.read_sql(query4, conn)
fig4 = px.line(df4, x='Month', y='Revenue', title='Изменение дохода по месяцам (2025)')
fig4.show()

query5 = """
SELECT CASE 
         WHEN BillingCountry = 'USA' THEN 'USA' 
         ELSE 'Rest of the World' 
       END AS Region, SUM(Total) AS Revenue
FROM invoice
GROUP BY Region
"""
df5 = pd.read_sql(query5, conn)
fig5 = px.pie(df5, names='Region', values='Revenue', title='Соотношение продаж в США и в остальном мире')
fig5.show()

conn.close()

DatabaseError: Execution failed on sql '
SELECT g.Name AS Genre, SUM(t.Milliseconds) / 60000 AS TotalMinutes
FROM track t
JOIN genre g ON t.GenreId = g.GenreId
GROUP BY g.Name
ORDER BY TotalMinutes DESC
': no such table: track